.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
  gap: 0.5rem;
  height: 100%;
  box-sizing: border-box;
  background-image: url("./../../../assets/pattern.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  app-balance-summary,
  app-monthly-summary {
    flex-shrink: 0;
  }

  app-recent-transactions {
    flex-grow: 1;
    overflow-y: auto;
  }
}