@use '@angular/material' as mat;
@use 'src/styles' as styles;

$form-primary: #005f73;
$form-secondary: #caf0f8;

.form {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 0.8rem;

  .amount-currency {
    display: inline-flex;
    align-items: flex-end;
    gap: 1rem;

    .amount-field {
      max-width: calc(50% - 1rem);
      font-size: 2.5rem;
      font-weight: 600;
      text-align: end;
      color: $form-primary;
      border: 0;
      outline: none;

      &::placeholder {
        color: $form-primary;
      }
    }

    .currency-panel {
      width: fit-content;
      max-width: calc(50% - 1rem);
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      align-self: center;
      padding-right: 3rem;

      .currency-item {
        padding: 1rem;
      }
    }

  }

  .account-field,
  .recurring-period-field {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    border: 1px solid;
    padding: .7rem;
    max-width: -webkit-fill-available;
    border-radius: .5rem;
  }

  .calendar-card {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 8px $form-primary;
    padding: 1rem;
    max-width: 80%;
    width: 80%;
    margin: 1rem auto;
    text-align: center;

    .recurring-end-date-label {
      font-weight: bold;
      font-size: 1.5rem;
      margin: .5rem;
    }

    .cal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      button {
        background: none;
        border: none;
        cursor: pointer;

        img {
          width: 1.2rem;
          height: 1.2rem;
        }
      }

      .month-label {
        font-weight: bold;
      }
    }

    .weekdays {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-align: center;
      font-size: 0.8rem;
      color: $form-primary;
      margin-bottom: 0.25rem;
    }

    .week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-align: center;

      .day {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        margin: 0.25rem auto;
        cursor: pointer;

        &.empty {
          visibility: hidden;
        }

        &.selected {
          background: $form-primary;
          color: #fff;
          border-radius: 50%;
        }
      }
    }
  }
}

.type-toggle {
  display: flex;
  justify-content: center;
  gap: 1rem;
  box-shadow: none !important;

  .mat-button-toggle {
    flex: 1;
    text-align: center;
    padding: .9rem;
    border-radius: .5rem;
    border: 0.5px solid currentColor;

    &.mat-button-toggle-checked {
      font-weight: bold;
      border: 2px solid currentColor;
      background-color: $form-secondary;
    }
  }
}

.category-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: space-between;

  .category-item-macro {
    font-weight: bold;
  }

  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    border: 0.5px solid $form-primary;
    color: $form-primary;
    border-radius: 0.75rem;
    margin-bottom: 0.25rem;
    padding: 0.3rem 0.1rem;
    text-align: center;
    cursor: pointer;
    height: calc(50% - 0.25rem);
    width: calc(25% - 0.25rem);
    min-height: calc(50% - 0.25rem);
    min-width: calc(25% - 0.25rem);
    max-height: calc(50% - 0.25rem);
    max-width: calc(25% - 0.25rem);

    img {
      width: 24px;
      height: 24px;
    }
  }

  .category-more {
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    border: 0.5px solid $form-primary;
    color: $form-primary;
    border-radius: 0.75rem;
    margin-bottom: 0.25rem;
    padding: 0.3rem 0.1rem;
    text-align: center;
    cursor: pointer;
    width: calc(25% - 0.25rem);
    min-height: calc(50% - 0.25rem);
    min-width: calc(25% - 0.25rem);
    max-height: calc(50% - 0.25rem);
    max-width: calc(25% - 0.25rem);
    font-weight: bold;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .active {
    background-color: $form-secondary;
    font-weight: bold;
    border: 2px solid $form-primary;
  }
}

.description-input {
  color: $form-primary !important;
  position: absolute;
  font-size: 1.7rem !important;
}

.recurring-section {
  .recurring-toggle {
    width: 100%;
    justify-content: space-between;
    font-weight: 600;

    --mdc-form-field-label-text-color: $form-primary;
  }

  .recurring-fields {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1rem;
  }
}

.submit-button {
  border: 2px solid $form-primary;
  width: 50%;
  padding: 1.5rem;
  font-size: 1rem;
  border-radius: 5rem;
  left: 50%;
  bottom: 0;
  translate: -50% 0%;
}

.currency-item,
.account-option,
.recurring-period-option {
  border-top: 1px solid $form-primary;
  border-radius: .5rem;
  text-align: center;
}

::ng-deep .mat-mdc-form-field {
  --mdc-filled-text-field-container-color: transparent;
  --mdc-filled-text-field-disabled-container-color: transparent;

  --mdc-filled-text-field-active-indicator-color: $form-primary;
  --mdc-filled-text-field-focus-active-indicator-color: $form-primary;
  --mdc-filled-text-field-hover-active-indicator-color: $form-primary;

  --mdc-filled-text-field-label-text-color: $form-primary;
  --mdc-filled-text-field-disabled-label-text-color: $form-primary;
}

::ng-deep .mat-mdc-form-field-required-marker {
  display: none;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep .recurring-toggle.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
  background-color: $form-primary;
}

::ng-deep .recurring-toggle.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
  background-color: $form-secondary !important;
}

::ng-deep .recurring-toggle.mat-mdc-slide-toggle:not(.mat-mdc-slide-toggle-checked) .mdc-switch__shadow {
  background-color: $form-primary;
}

::ng-deep .recurring-toggle.mat-mdc-slide-toggle:not(.mat-mdc-slide-toggle-checked) .mdc-switch__track::before {
  background-color: rgba($form-primary, 0.3);
}