.recent-transactions {
    backdrop-filter: blur(16px);
    background-color: #ffffff1a;
    border: 1px solid rgba(209, 213, 219, .3);
    border-radius: 1rem;
    padding: 0 .5rem;
    
  h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #005f73;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0.4rem;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(16px);
    background-color: #ffffff1a;
    border: 1px solid rgba(209, 213, 219, .3);
    border-radius: 1rem;
  }

  .tx-info {
    display: flex;
    flex-direction: column;

    .tx-description {
      font-weight: bold;
      color: #005f73;
    }

    .tx-date {
      font-size: 0.75rem;
      color: #005f73;
    }
  }

  .tx-amount {
    font-weight: bold;
    font-size: 1rem;

    &.positive {
      color: #1ee9a6;
    }

    &.negative {
      color: #bf1f23;
    }
  }

  :host {
    display: block;
    height: 100%;
    overflow-y: auto;
  }
}
