<div class="duplicate-category-alert-container">
  <h2 mat-dialog-title class="duplicate-category-alert-title">{{ 'CATEGORY_SELECTION.DUPLICATE_ALERT.TITLE' | translate
    }}</h2>
  <mat-dialog-content>
    <p class="duplicate-category-alert-paragraph">
      {{ 'CATEGORY_SELECTION.DUPLICATE_ALERT.MESSAGE' | translate }}<strong>{{ data.macroCategory }}</strong>
       - <strong>{{ data.category }}</strong>
    </p>
    <p class="duplicate-category-alert-paragraph">
      {{ 'CATEGORY_SELECTION.DUPLICATE_ALERT.MESSAGE_CHOISE' | translate }}
    </p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-stroked-button class="duplicate-category-alert-button-close" (click)="close()">{{ 'BUTTON_CANCEL' |
      translate }}</button>
    <button mat-flat-button class="duplicate-category-alert-button-modify" (click)="modify()">{{ 'BUTTON_MODIFY' |
      translate }}</button>
  </mat-dialog-actions>
</div>